/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pageTitle, .recommender-title{
        font-size: 1.2em !important;
        margin: auto !important;
        width: 60%;
    }
    .card-columns{
        column-count: 2;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card-columns{
        column-count: 3;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-columns{
        column-count: 4 !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-columns{
        column-count: 5 !important;
    }
}

.main-page{
  background-color: #0b0e11;
  min-height: 100vh;
}

.pageTitle{
  padding-top: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  color: white;
  text-align: center;
}

.logo-img{
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 35px;
  left: 10%;
}

.logo-img-full{
  height: 40px;
  position: absolute;
  z-index: 16;
  top: 45px;
  right: 80px;
}

#footer{
  margin-top: 5%;
  background: linear-gradient(to right, rgb(23, 10, 31), rgb(22, 20, 26));
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 25px;
  color: rgb(142, 152, 167); 
}

#footer a{
  color: rgb(171, 167, 177);
}

#tmdbLogo{
  position: inherit;
  width: 126px;
  height: 50px;
  margin-top: 10px;
}

.footer-text{
  padding-top: 2%;
}

.recommender-title{
  padding-top: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  color: white;
  text-align: center;
}

.search-container{
    text-align: center;
}

.search{
    margin: 0 !important;
    padding: 3% 0 3% 0;
}

.container{
    width: 100% !important;
    border-radius: 5px;
}

.card{
    background: none !important;
}

.card-columns{
    padding: 2% 5% 2% 5%;
    min-height: 60vh;
}