@media only screen and (max-width: 600px) {
    .pageTitle, .recommender-title{
        font-size: 1.3em !important;
    }
    .movie-container{
        padding: 1% !important;
    }
    
    .movie-row-container{
        padding: 5%;
    }
} 

.main-page{
  background-color: #0b0e11;
  box-shadow: 5px 10px;
}

.main{
  -webkit-box-sizing: none;
  box-sizing: none;
}

.pageTitle{
  padding-top: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  color: white;
  text-align: center;
}

.logo-img{
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 35px;
  left: 10%;
}

.logo-img-full{
  height: 40px;
  position: absolute;
  z-index: 16;
  top: 45px;
  right: 80px;
}

#footer{
  margin-top: 5%;
  background: linear-gradient(to right, rgb(23, 10, 31), rgb(22, 20, 26));
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 25px;
  color: rgb(142, 152, 167); 
}

#footer a{
  color: rgb(171, 167, 177);
}

#tmdbLogo{
  position: inherit;
  width: 126px;
  height: 50px;
  margin-top: 10px;
}

.footer-text{
  padding-top: 2%;
}

.recommender-title{
  padding-top: 40px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  margin-bottom: 1%;
  color: white;
  text-align: center;
}

.movie-row-container{
    padding: 3%;
}

.search-container{
    text-align: center;
}

.container{
    width: 100% !important;
}

.loader-container{
    height: 70vh;
}