/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .movieImg {
        height: 210px;
        width: 140px;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        margin-top: 20px;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        overflow: hidden;
        white-space: nowrap;
        width: 140px;
    }
} 

/* Small devices (large phones) */
@media only screen and (min-width: 600px) {
    .movieImg {
        height: 330px;
        width: 220px;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        margin-top: 20px;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        overflow: hidden;
        white-space: nowrap;
        width: 220px;
    }
}

@media only screen and (min-width: 768px) {
    .movieImg {
        height: 225px;
        width: 150px;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        margin-top: 20px;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        overflow: hidden;
        white-space: nowrap;
        width: 150px;
    }
}  


/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    .movieImg {
        height: 225px;
        width: 150px;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        margin-top: 20px;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        overflow: hidden;
        white-space: nowrap;
        width: 150px;
    }
} 

/* Extra Large devices (laptops/desktops) */

@media only screen and (min-width: 1200px) {
    .movieImg {
        height: 270px;
        width: 180px;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        margin-top: 20px;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        overflow: hidden;
        white-space: nowrap;
        width: 180px;
    }
}

.movieTitle{
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

.movieRating{
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}

.movieGenre{
  margin: 0;
  font-size: .6em;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.stars{
   width: 55px !important;
   margin: 0;
   float: left;
   text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}
