/* Extra small devices (phones) */
@media only screen and (max-width: 450px) {
    .movie-full-image{
        width: 200px;
        margin-top: 20%;
    }
    .recom-button{
        width: 150px;
        float: none !important;
        margin: auto;
    }
    .stars-container{
        margin: auto !important;
        width: 110px !important;
    }
    .movie-info{
        text-align: center;
    }
    .image-parent{
        text-align: center;
    }
} 

/* Small devices (large phones) */
@media only screen and (min-width: 450px) {
    .movie-full-image{
        width: 70%;
    }
    .recom-button{
        width: 150px;
        float: none !important;
        margin: auto;
    }
    .stars-container{
        margin: auto !important;
        width: 110px !important;
    }
    .movie-info{
        text-align: center;
    }
    .image-parent{
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .movie-full-image{
        width: 100%;
        
    }
}  

.movie-full-page{
    background-color: rgb(0.5, 0.5, 0.5);
    min-height: 100%;
    width: 100%;
}

.movie-full-image{    
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    -webkit-animation: fadein 2s;
    margin-bottom: 3%;
}

.movie-full-backdrop{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:grayscale(80%) brightness(7%) blur(5px);
    position: absolute;
    z-index: 0;
}

.movie-full-title{
    margin-bottom: 3%;
    font-size: 2.7em;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}
  
.movie-full-overview{
    color: rgb(230, 230, 230);
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    margin-bottom: 3%;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.recom-button{
    font-family: 'Open Sans', sans-serif;
    color:white;
    border: 1px solid #254452;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10%;
    float: left;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
}

.movie-full-genres{
    color: rgb(185, 185, 185);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3%;
}
  
.movie-full-runtime{
    color: green;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.logo-img-full{
    position: absolute;
    top: 2%;
    right: 5%;
}

.rating{
    font-size: 14px;
    padding-bottom: 10px;
}

.stars-container{
    padding-left: 0 !important;
    width: 125px;
    margin: 0;
}

.rating-container{
    padding-left: 0 !important;
}

.vertical-align-row{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
