/* Extra small devices (phones) */
@media only screen and (max-width: 450px) {
    .movieImg {
        width: 100%;
        border-radius: 2px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.40);
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        width: 96%;
    }
} 

/* Extra small devices (phones) */
@media only screen and (min-width: 450px) {
    .movieImg {
        width: 100%;
        padding: 4% 4% 0 4%;
        -webkit-filter: grayscale(40%);
    }
    .overflow-container{
        width: 96%;
    }
}

.movieTitle{
  color: #f5f5f5;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  padding: 5% 4% 5% 4%;
}

.movieRating{
  color: #bdbdbd;
  font-size: 0.7em;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 4% 0 4%;
}

.movieGenre{
  margin: 0;
  font-size: .6em;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 4% 0 4%;
}

.stars{
   width: 50% !important;
   padding-left: 4%;
   text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}

.movie-container{
    background-color:#0c0f0f;
    border: none;
    margin-bottom: 5%;
    flex-basis: 0 !important;
    padding: 0 !important;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
}