/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .movie-full-image{
        width: 200px;
    }
    .recom-button{
        text-align: center;
    }
    .movie-info{
        margin-left: 10%;
    }
    .image-parent{
        text-align: center;
    }
} 

/* Small devices (large phones) */
@media only screen and (min-width: 600px) {
    .movie-full-image{
        width: 300px;
    }
    .recom-button{
        text-align: center;
    }
    .movie-info{
        margin-left: 10%;
    }
    .image-parent{
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .movie-full-image{
        width: 350px;
    }
    .movie-info{
        margin-top: 25%;
    }
}  


/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
    .movie-full-image{
        width: 450px;
    }
    .movie-info{
        margin-top: 25%;
    }
} 

/* Extra Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
    .movie-full-image{
        width: 500px;
    }
    .movie-info{
        margin-top: 25%;
    }
    .movie-full-backdrop{
        width: 100%;
    }
}

.movie-full-page{
    background-color: rgb(0.5, 0.5, 0.5);
    width: 100%;
}

.movie-full-image{    
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    -webkit-animation: fadein 2s;
    margin-bottom: 5%;
}

.movie-full-backdrop{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter:grayscale(80%) brightness(7%); 
    position: absolute;
    z-index: 0;
}

.movie-full-title{
    margin-bottom: 5%;
    font-size: 2.7em;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}
  
.movie-full-overview{
    color: rgb(230, 230, 230);
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    margin-bottom: 5%;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.recom-button{
    font-family: 'Open Sans', sans-serif;
    color:white;
    border: 1px solid #254452;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10%;
    float: left;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
}

.movie-full-genres{
    color: rgb(185, 185, 185);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
}
  
.movie-full-runtime{
    color: green;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.logo-img-full{
    position: absolute;
    top: 2%;
    right: 5%;
}

.rating{
    font-size: 14px;
    padding-bottom: 10px;
}

.stars-container{
    padding-left: 0 !important;
    width: 120px;
    margin: 0 !important;
}

.rating-container{
    padding-left: 0 !important;
}
