.search{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.rec-search{
  margin: auto;
  top: 150px;
  width: 100px;
  z-index: 3;
}

.search-box{
  border-radius: 2px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.rec-search-box{
  border-radius: 2px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.submit-button{
  background-color: blue;
  float: right;
}

.tester{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchResults{
    width: 100%;
    margin: auto;
    z-index: 2;
    overflow:hidden;
    border-radius: 10px;
} 

.search-link{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  background-color: #00000070;
  border-bottom: 2px solid #171e25;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}
